html, body{
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    background: white;
	letter-spacing: 0.02em;
}
.header{	
    padding: 35px 0 0;
    background: #eee;
}
.center-wrapper{
	position: relative;
	width: 880px;
	margin: 0 auto;
}
.center-wrapper:after{
	content: "";
	display: table;
	clear: both;	
}
.top-menu-scroll{
	background-color: white;
	position: fixed;
	display: none
	width: 100%;
	top: 0;
	z-index: 100;
}
.logo-nerds-scroll{
	display: none;
	position: absolute;
	vertical-align: middle;
	margin-top: 33px;
}
.logo-nerds{
	position: absolute;	
	display: block;
	float: left;
	width: 140px;
	height: 60px;
	background: url('../img/logo-nerds-1.png') left bottom no-repeat;
}
.main-menu{
	display: inline-block;
	position: relative;
	font-size: 0;	
	list-style: none;
	margin-left: 290px;	
	padding: 0;
}
.main-menu li{
	display: inline-block;
	margin-top: 25px;
}
.main-menu li.active,
.main-menu li:hover{
    box-shadow: 1px 20px 0 -17px #fb565a;
}
.main-menu li.active:hover{
	box-shadow: 1px 20px 0 -17px #d6494d;
}
.main-menu li a,
.cart-menu-enter{
	display: inline-block;		
	font-weight: 500;
	font-size: 14px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;	
	padding: 10px 22px;
}
.cart-menu{
	display: inline-block;
	position: relative;
	padding-right: 10px;
}
.cart-menu-enter{
	padding-right: 0;
	margin-left: 36px;
}
.cart-menu:hover{
	box-shadow: 17px 20px 0 -17px #fb565a;
}
.cart-menu-enter:before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	left: 38px;
	top: 15px;
	background: url('../img/icon-cart.png') 0 0 no-repeat;	
}
.slider{
	clear:both;
    position: relative;
    width: 880px;
    height: 305px;
    margin: 45px auto 0; 
}
.slider-controls{
    position: absolute;
    width: 200px;
    height: 10px;
    left: 50%;
    margin-left: -100px;
    bottom: 94px;
    text-align: center;
    z-index: 90;
}
.slider-controls i{
    display: inline-block;
    width: 4px;
    height: 4px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}
.slider-controls .active{
    background: #c1c1c1;
}
.slide{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide-text{
	font-size: 16px;
    width: 480px;
	height: 150px;
	overflow: hidden;
    padding: 20px 0;
    color: #283136;
	letter-spacing: 0.004em;
}
.slide-title{
    font-size: 36px;
    line-height: 1;
    font-weight: 500;
    color: black;
	letter-spacing: 0.015em;
}
.slide-text p{
	padding-top: 5px;
	color: #283136;
}
.slide .btn{
    display: block;
	position: relative;
	bottom: 7px;
    width: 240px;
    padding: 12px 0;
    font-size: 12px;
	font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
    text-align: center;
}
.slide .btn:hover{
	background-color: #d6494d;
}
.slides .active{
	display: block;
}
.slide:nth-child(1){
    background: url('../img/slider-1.png') no-repeat 100% 8%;
}
.slide:nth-child(2){
    background: url('/img/slider-2.png') no-repeat 98% 15%;
}
.slide:nth-child(3){
    background: url('../img/slider-3.png') no-repeat 99% 65%;
}
.services{
	margin-top: 80px;
	position: relative;
}
.services>.center-wrapper,
.studio>.center-wrapper,
.partners>.center-wrapper{
	border-bottom: 2px solid #eee;
}
.service-block{
	display: block;
	position: relative;
	float: left;
	width: 241px;
	min-height: 380px;
	margin-right: 78px;
	font-size: 0;
}
.service-block:nth-child(3n){
	margin-right: 0;
}
.service-block img{
	width: 240px;
	height: 124px;
}
.service-block h2{
	margin-top: 20px;	
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
}
.service-block p{
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	margin-top: 22px;
	color: #283136;
	letter-spacing: 0;
}
.service-block .btn{
	display: block;
	position: relative;
    width: 140px;
    padding: 12px 0;
    font-size: 12px;
	font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
	margin-top: 25px;
}
.service-block:nth-child(1) .btn{
	    background: #fb565a;
}
.service-block:nth-child(1) .btn:hover{
	    background: #d6494d;
}
.service-block:nth-child(2) .btn{
	    background: #00ca74;
}
.service-block:nth-child(2) .btn:hover{
	    background: #01a25e;
}
.service-block:nth-child(3) .btn{
	    background: #efc84a;
}
.service-block:nth-child(3) .btn:hover{
	    background: #d6ae2c;
}
.studio{
	display: block;
	position: relative;
}
.studio-desc{
	display: block;
	position: relative;
	width: 560px;
	margin-top: 65px;
	padding-right: 320px;
	font-size: 0;
	letter-spacing: 0;	
}
.studio-desc h1{
	font-weight: 500;
	font-size: 37px;
	line-height: 36px;
}
.studio-desc p{
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	color: #283136;
}
.studio-desc h2{
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 39px;
	color: #283136;
}
.studio-desc ul{
	list-style: none;	
	margin-top: 23px;
	margin-bottom: 70px;
	padding-left: 35px;
}
.studio-desc li{
	font-size: 16px;
	margin-bottom: 22px;
	margin-left: -12px;
	padding-left: 10px;
	box-shadow: -34px 0 0 -10px #fb565a;
	color: #283136;
}
.studio-desc:after{
	content: '';
	display: block;	
	position: absolute;
	width: 240px;
	height: 320px;	
	background: url('../img/studio-img.png') 0 0 no-repeat;
	top: 5%;	
	right: 0;
}
.partners .partners-logo{
	position: relative;
	display: block;	
	width: 240px;
	height: 145px;
	line-height: 145px;
	float: left;
	margin: 10px 80px 10px 0;
}
.partners .partners-logo:nth-child(3n){
	margin-right: 0;
}
.partners .partners-logo a{
	display: inline-block;
	line-height: 1.2;
	vertical-align: middle;
	width: 100%;
}
.partners .partners-logo:nth-child(1) a{
	background: url('../img/partners-sprite-gluhanko.png') 0 0 no-repeat;
	height: 39px;
}
.partners .partners-logo:nth-child(2) a{
	background: url('../img/partners-sprite-htmlacademy.png') 0 0 no-repeat;
	height: 50px;
}
.partners .partners-logo:nth-child(3) a{
	background: url('../img/partners-sprite-barbershop.png') 0 0 no-repeat;
	height: 88px;
}
.partners .partners-logo a:hover{
	background-position: -240px;
}
.shop{
	margin-top: 60px;
}
.shop-left-column{
	float: left;
	width: 320px;	
}
.left-column-data{
	float: left;
	width: 320px;
	margin: 0 0 0 -320px;
}
.shop-right-column{
	width: 560px;
	float: left;
	margin: 0 0 0 320px;
}
.right-column-data{
	float: left;
}
.left-column-data h2{
	font-weight: 500;
	font-size: 19px;
	text-transform: uppercase;
}
.range-filter{    
    width: 240px;
}
.range-controls{
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}
.range-controls .scale{
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}
.range-controls .bar{
    height: 2px;
    background: #00ca74;
}
.range-controls .toggle{
    position: absolute;
    top: 30px;
    left: 20px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .max-toggle{
    left: 160px;
}
.price-controls{
    white-space: nowrap;
	font-size: 16px;
	color: #283136;
}
.price-controls input{
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    background: #f1f1f1;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #283146;
    border-radius: 5px;
}
.price-controls .min-price{
    margin-right: 14px;
}
.left-column-data>h2{
	margin-top: 45px;
}
.left-column-data ul{
	list-style: none;
	padding-left: 0;
}
.left-column-data ul li{
	margin-bottom: 16px;
}
input[type="checkbox"],
input[type="radio"]{
	display: none;
}
input[type="checkbox"]+label,
input[type="radio"]+label{
	color: #283136;
	cursor: pointer;	
}
input[type="radio"]+label:before{
	content: '';
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;	
	margin: 0 15px 0 0;
	background: url('../img/radio-sprite.png') 0 0 no-repeat;
	top: 3px;
}
input[type="checkbox"]+label:before{
	content: '';
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;	
	margin: 0 15px 0 0;
	background: url('../img/chkbox-sprite.png') 0 0 no-repeat;	
	top: 3px;
}
input[type="radio"]:checked + label::before{
	background-position: -20px;
}
input[type="checkbox"]:checked + label::before{
	background-position: -20px;
}
.shop-sort>*{
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	margin-top: 20px;
}
.shop-sort a{
	margin-left: 40px;
}
.shop-sort a.active:after{
	content: '';
	position: relative;
	width: 0px;
    height: 0px;
    border-top: 10px solid #ccc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
	top: 13px;
	right: -9px
}
.shop-items .item{
	position: relative;
	float: left;
	width: 240px;
	height: 270px;
	overflow: hidden;
	margin-right: 80px;
	margin-top: 10px;
	margin-bottom: 72px;
}
.shop-items .item:nth-child(2n){
	margin-right: 0;
}
.shop-items .item:hover .shop-item-header{
	background-color: #797979;
}
.shop-item-header{
	display: block;
	position: absolute;
	height: 12%;
	width: 100%;
	background-color: #f1f1f1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.shop-item-header .circle{
	position: relative;
	display: inline-block;
	width: 11px;
	height: 11px;
	background-color: white;
	border-radius: 50%;
	margin-top: 11px;
	margin-right: 2px;
}
.shop-item-header .circle:nth-child(1){
	margin-left: 10px;
}
.shop-items .item .shop-item-header:after{
	content: '';
	display: block;
	position: absolute;
	width: 240px;
	height: 240px;	
	top: 32px;	
}
.shop-items .item:nth-child(1) .shop-item-header:after{	
	background: url('../img/shop-item-1.jpg') 0 0 no-repeat;	
}
.shop-items .item:nth-child(2) .shop-item-header:after{	
	background: url('../img/shop-item-2.jpg') 0 0 no-repeat;	
}
.shop-items .item:nth-child(3) .shop-item-header:after{	
	background: url('../img/shop-item-3.jpg') 0 0 no-repeat;	
}
.shop-items .item:nth-child(4) .shop-item-header:after{	
	background: url('../img/shop-item-4.jpg') 0 0 no-repeat;	
}
.shop-items .item:nth-child(5) .shop-item-header:after{	
	background: url('../img/shop-item-5.jpg') 0 0 no-repeat;	
}
.shop-items .item:nth-child(6) .shop-item-header:after{	
	background: url('../img/shop-item-6.jpg') 0 0 no-repeat;	
}
.shop-item-desc{
	position: relative;	
	display: none;
	overflow: hidden;
	background-color: white;
	width: 180px;
	height: 180px;
	top: 60px;
	left: 30px;
	text-align: center;
	box-shadow: 0 0 10px 1px #f1f1f1;
}
.shop-item-desc h2{
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 0;
}
.shop-item-desc p{
	color: #283136;
	font-size: 14px;
	margin-top: 13px;
}
.shop-buy-btn{
	display: block;
	position: relative;
    width: 140px;
	bottom: -15px;
    padding: 8px 0;
	margin-left: auto;
	margin-right: auto;
    font-size: 18px;
	font-weight: 500;
	background-color: #fb565a;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
}
.shop-items .item:hover .shop-item-desc{
	display: block;
}

.shop-nav-btns .btn{
	display: inline-block;
	font-size: 12px;
	font-weight: 500;	
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 10px;
	margin-right: 3px;
	padding: 10px 15px;
	color: black;
	background-color: #f1f1f1;
	border: 2px solid #f1f1f1;
}
.nav-btn-next.btn{
	padding-left: 30px;
	padding-right: 30px;
}
.nav-btn-page.active{
	background-color: white;
}
.shop-nav-btns .btn:hover{
	background-color: #e1e1e1;
	border-color: #e1e1e1;
}
.shop-nav-btns .btn.active:hover{
	border-color: #e1e1e1;
	background-color: white;
}
.contacts-map{
	display: block;
	position: relative;
	width: 1280px;
	height: 416px;
	margin: 80px auto 0;
	background: url('../img/contacts-map.png') 0 0 no-repeat;
}
.contacts-map:after{
	content: '';
	display: block;
	position: relative;
	width: 231px;
	height: 190px;
	background: url('../img/nerds-pointer.png') 0 0 no-repeat;
	left: 880px;
	bottom: 125px;
}
.contacts-map .write-us{
	display: block;
	position: relative;
	width: 240px;
	height: 240px;
	background-color: white;
	top: 85px;
	left: 200px;
}
.contacts-map .write-us h2{
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	padding-top: 30px;	
	letter-spacing: 0.02em;
	padding-left: 22px;
}
.contacts-map .write-us h2 strong{
	font-weight: 500;
}
.contacts-map .write-us p{
	padding-left: 22px;	
	letter-spacing: 0
}
.contacts-map .write-us .btn{
	display: block;
	position: relative;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	background-color: #fb565a;
	width: 195px;
	padding: 12px 0;
	text-align: center;
	border-radius: 3px;
	margin: 25px auto;
}
.contacts-map .write-us .btn:hover{
	background-color: #d6494d;
}
.contacts-map .write-us-popup{
	display: none;
}
.footer .center-wrapper{
	
}
.footer .social-btns{
	display: block;
	position: relative;
	float: left;
	margin-top: 80px;
}
.footer .social-btn{
	content: '';
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	background-color: #f1f1f1;
	border-radius: 50%;
	margin-right: 27px;
}
.footer .social-btn:hover{
	background-color: #fb565a;
}
.social-btn:after{
	content: '';
	display: block;
	position: relative;
	width: 25px;
	height: 25px;	
	top: 30%;
	left: 30%;
}
.social-btn.vk:after{
	background: url('../img/social-vk.png') 0 0 no-repeat;
}
.social-btn.fb:after{
	background: url('../img/social-fb.png') 0 0 no-repeat;	
}
.social-btn.ig:after{
	background: url('../img/social-ig.png') 0 0 no-repeat;
}
.footer-text{
	display: block;
	position: relative;
	float: left;
	margin-left: 44px;	
	margin-top: 70px;
	margin-bottom: 50px;
	font-size: 0;
}
.footer-text h2{
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 0.018em;	
	margin: 0;
}
.footer-text p{
	font-size: 16px;
	letter-spacing: 0;
	margin: 0;
}